asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorclass==2.2.0
coverage==5.4
Django==3.1.6
django-manage==2020.12.2
djangorestframework==3.12.2
fastapi==0.63.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
manage.py==0.2.10
MarkupSafe==1.1.1
numpy==1.20.1
opencv-contrib-python==4.5.1.48
pip-check==2.6
pydantic==1.8.1
pytz==2021.1
requests==2.25.1
sqlparse==0.4.1
starlette==0.13.6
terminaltables==3.1.0
typing-extensions==3.10.0.0
urllib3==1.26.3
Werkzeug==1.0.1